<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
 <system.webServer>
     <defaultDocument>
            <files>
                <clear />               
                <add value="Webpage1.aspx"/>
            </files>
        </defaultDocument>
 
    </system.webServer>
 <connectionStrings>
    <remove name="LocalMySqlServer" />
    
    <add name="LocalSqlServer" providerName="System.Data.SqlClient" connectionString="Data Source=35.196.209.234;Initial Catalog=Restaurant;Integrated Security=False;User Id=neel;Password=12345678;MultipleActiveResultSets=True" />
  </connectionStrings>
 <appSettings>
    <!-- Set to your Google project id as shown on the Google Developers Console -->
    <add key="GoogleCloudSamples:ProjectId" value="superb-receiver-179818" />
    <!--
    Set to either mysql, sqlserver or datastore.
    If using mysql or sqlserver, update the connectionString far below, and then run Add-Migration Init; Update-Database 
    in the Package Manager Console.
    -->
    <add key="GoogleCloudSamples:BookStore" value="sqlserver" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>

</configuration>